.bg {
    /* The image used */
    background: url("images/sun-pattern.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}

img{
  float: left;
  display: flex;
  width: 39%;
  border: 5px solid blue;
  padding: 5%;
}

span{
  display: block;
}

buttons {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
