*{
  box-sizing: border-box;
}

.section-heading{
  margin-top: 5%;
	font-family: "Open Sans";
}

.go-top{
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  padding: 1em;
  display: none;
  font-family: 'noto-serif';
  font-weight: 10px;
}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  color: white;
}

.tips{
  margin: 5% 10%;
}

.personal{
  margin: 2% 0;
  font-size: 1.2em;
}

h3{
  color: #D1D1D1;
}

h4{
	font-family: noto-serif;
}
.logo-item{
  display: inline;
  width: 12%;
}
.social-icon {
  width:40%;
  height:40%;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: none;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

#map {
  height: 400px;
  width: 100%;
}
.main{
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(255,193,7) }

.selfintro{
	padding-top: 0;
  padding-left: 1%;
  padding-bottom: 0;
  font-family: 'Open Sans';
  font-size: 1.2em;
}

.selfintroheading{
  padding-left: 1%;
  font-size:28pt;
  font-family: font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  color: black;
}

.AI_logo{
  display: inline-block;
  width: 25%;
  margin: 0;
}

.project_thumbnail {
  width: 80%;
  margin: 3% 10%;
  margin-top: 80px;
}
.Inmatetop{
  margin-top: 120px;
}
.ps {
  font-size: 16px;
}

.section-subheading{
margin-bottom: 5%;
}

.img-self{
  margin-top: 5%;
/*  width: 60%;*/
}

#contacts{
	padding-top: 5%;
}

.portfolio-heading{
  font-size: 90px;
  font-weight: 900;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.project-title h2{
  text-align: center;
  font-size: 20px;
  bottom: 0;
  color: black;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.project-type{
  line-height: 21px;
}
.project-bio{
  padding-top: 1%;
}
.btn-primary {
  color: white;
  border-color: #ffc107;
  background-color:#ffc107; }
.btn-primary:hover {
    color: white;
    border-color: #ff9800;
    background-color: #ff9800; }

.resume-btn{
	margin-left: 20%;
  margin-bottom: 2%;
}

.img-port{
	width: 95%;
	margin-bottom: 5%;
}
.img-port-detail{
  display: block;
  width:70%;
  height: 70%;
  margin:auto;
}

.port-sub{
	width: 50%;
  display: block;
  margin:auto;
}

.navbar-header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 0;
}

.navbar-text{
  text-align: left;
  font-size: 1.5em;
  padding-left: 3%;
}

.ml-auto {
  margin-left: auto !important;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.introdiv{
  font-size:1.4em;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  /*background-image: url('../img/header.jpg');*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;

}

.intro-1 {
  padding-top: 100px;
  font-family: 'Architects Daughter', cursive;
  color: #eee;
  font-size: 36pt;
  text-align: center;
}

.intro-2 {
  font-family: 'Crafty Girls', cursive;
  text-align: center;
  color:#eee;
  font-size: 16pt;
}

.projects{
  margin: 3% 10%;
}

figcaption{
  text-align: center;
}

.mycarousel{
  margin-top: 72px;
  height: 400px;
  background-image: url("../img/carousel.jpg");
  max-width: 100%;
}

.project-para-detail{
  margin:5%;
/*  line-height: 5px;*/
}
.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 100%; }

.portfolio-box {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 95%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: rgba(255, 200, 10, 15);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
 .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        padding: 0 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 18px; }
  .portfolio-box:hover .portfolio-box-caption{
    opacity: 0.95;
  }
  .portfolio-box:focus {
    outline: none;
  }
  /**********************/
  #portfolio .portfolio-item:hover .portfolio-link .portfolio-hover {
    opacity: 1.0;
  }

  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    -webkit-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    transition: all ease 0.25s;
    opacity: 0;
    background: #eeeeee;
  }

  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 0.95;
  }

  /*Center text on hover*/
  #portfolio .portfolio-hover{
    position: relative;
  }
  /***********************/

.sm-pic{
  width: 100%;
  margin-bottom: 5%;
}

.xs-pic{
  width: 30%;
  margin: 3% 1.5%;
}

.ih-logo {
  width: 75%;
  margin: 3% 10%;
}

#mainNav {
    background-color: white;
    box-shadow: 0 0 10px 0 #D3D3D3;
    height: 12%;
}

.nav-item {
  padding: 20px 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #292929;
  font-weight: 500;
  font-size: 1.3em;
  font-family: 'Open Sans';
  /*text-decoration: underline;*/
  padding-bottom: 10%;

}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: blue;
  font-weight: 500;
  /*text-decoration: underline;*/
  padding-bottom: 10%;
}

#mainNav .navbar-nav .nav-item .nav-link:active{
  color: #292929;
  font-weight: 500;
  border-bottom: .16em solid #365da3;
  padding-bottom: 10%;
}

.portfolioactive, .visualactive, .contactactive, .aboutactive{
  font-color: #365da3 !important;
  font-weight: 500;
  border-bottom: .16em solid #365da3;
  padding-bottom: 0;
}

  .navbar-brand {
    order: 1;
    float: left;
    min-height: 55px;
    padding: 0;
  }
  .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
  .navbar-inverse .navbar-nav .active a:hover {
    color: #FFF;
    background-color: #5E4485;
  }
  .navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
  }

  .mhlogo {
    display: block;
    max-height: 60px;
    margin-left: 100%;
  }
  header.masthead {
    text-align: left;
    padding: 0;
    color: black;
    background-image: none;
  }

  .graphic img{
    width: 60%;
  }

/*Media queries*/
@media(max-width:767px) {
  .mhlogo {
    display: block;
    position: relative;
    vertical-align: baseline;
    max-height: 60px;
  }
  .nav-item .active {
    color: none !important;
  }
  .navbar-collapse{
    background-color: white;
    width: 100%;
    right: 20px !important;
  }
  .navbar-toggle {
    background-image: url("../img/icon/hamburger.png");
    left: 300px;
    width: 60px;
    height: 45px;
  }

}

@media (min-width: 1200px)
#mainNav {
    padding-top: 10px;
    padding-bottom: 0px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px; }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px; } }
}
